<main>
    <h1>Created Successfully...........</h1>
    <div>
        <p>{{message}}</p>
    </div>
    {{#if message}}
    <a class="logoutShiftLine" href="/salons">Go to the salons</a>
    {{/if}}
</main>