<main>
    <div class="card container" id="cont">
        <h1>Your Action was successful</h1>
        <h3>Salon will be listed on Salon List page</h3>
    <div>
        <p>{{message}}</p>
    </div>
    {{#if message}}
    <a class="logoutShiftLine" href="/salons">Go to the salons</a>
    {{/if}}
    </div>
    <a class="btn btn-primary" href="/logout">Logout</a>
</main>