{{!-- <div class="modal fade" id="myModal">
    <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">My Modal</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
                <h1>{{message}}</h1>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary mx-auto" data-dismiss="modal">Close</button>
            </div>
            {{#if message}}
            <a class="logoutShiftLine" href="/salons">Go to the salons</a>
            {{/if}}
        </div>
    </div>
</div> --}}
<main>
    {{!-- <h1>Created Successfully...........</h1> --}}
    <div>
        <p>{{message}}</p>
    </div>
    {{#if message}}
    <a class="logoutShiftLine" href="/">login</a>
    {{/if}}
</main>