<main>
    <div class="container">
        <p>
            {{message}}
        </p>
    </div>
    <div>
        <p><a href="/salons/{{salonId}}">Go back to Salon Profile page</a></p>
    </div>
</main>