body {
    /* background-color: rgb(57, 59, 59); */
    background-image: url('../image/salon_img.jpeg');
    width: 100%;
    height: 100%;
    /* margin: 0; */
    /* padding-top: 15px; */
    /* background: url('../image/salonimage.jpg'); */
    background-size: 100%;
    background-attachment: fixed;
}

.center {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.padding {
    margin: 20px;
    padding: 20px;
}


/* label {
    margin: 4px;
    padding: 20px;
} */


/* label p {
    color: #ddd;
} */


/* form {
    border: 5px solid salmon;
    font-size: 20px;
} */

h1 {
    color: salmon;
}

#error-box {}


/* .error {
    color: red;
    font-size: 30px;
    font-weight: 600;
} */

.error {
    background: #deffde;
    color: #ff1919;
    margin: 10px;
    width: 90%;
    justify-content: center;
    font-size: 18px;
    font-weight: 500;
    display: flex;
    align-items: center;
    padding: 7px;
}

a {
    font-size: 20px;
    font-weight: 600;
    /* background-color: rgb(233, 66, 144); */
}


/* dl {
    color: wheat;
    text-align: center;
    font-weight: 600;
    font-size: 30px;
}

dd {
    color: wheat;
    text-align: center;
    font-weight: 600;
    font-size: 30px;
} */

p.logout {
    color: wheat;
    text-align: center;
    font-weight: 600;
    font-size: 30px;
}

.card-wide {
    background-color: #fafafa;
    box-sizing: border-box;
    display: block;
    text-align: center;
    float: left;
    width: 45%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    border-radius: 15px;
    padding: 1%;
    margin: 2%;
}

.card-deck {
    display: inline-table;
}

#sticky {
    position: fixed;
    top: 10%;
}

.dropbtn {
    background-color: #fafafa;
    color: #558000;
    font-size: large;
    box-sizing: border-box;
    border: 2px solid #558000;
    border-radius: 5em;
    padding: 8px;
    margin: 15px;
    text-align: center;
}

.dropbtn:hover {
    color: #fafafa;
    background-color: #6ca000;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 200px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #3e8e41;
    color: #fafafa
}

#btn-id {
    margin-left: 75px;
    width: 115px;
    height: 45px;
}

.container {
    margin-top: 100px;
    margin-bottom: 100px;
    width: 100%;
    /* height:100%; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, .125);
    border-radius: 0.25rem;
}

#state {
    width: 263px;
}

#card-private {
    margin: 20px;
    width: 100%;
    margin-top: 80px;
    margin-bottom: 80px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.text-bold {
    font-weight: 700;
}

.btn-private {
    margin: 4px;
    margin-top: 15px;
}

.like,
.dislike {
    display: inline-block;
    margin-bottom: 0;
    font-weight: normal;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    background: lightgreen;
    border: 1px solid transparent;
    white-space: nowrap;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.428571429;
    border-radius: 4px;
}

.qty1,
.qty2 {
    border: none;
    width: 20px;
    background: transparent;
}


/* .imgStyle {
    /* background-image: url('../image/salon_img.jpeg'); */


/* width: 100%; */


/* position: absolute;
    bottom: 20px;
    right: 20px;
    background-color: rgb(117, 114, 114);
    color: white;
    padding-left: 20px;
    padding-right: 20px;
    opacity: 0.6;
    width: 94%;
} */


/* .imgStyle h1,
p,
h3 {
    text-align: center;
} */

div.imgStyle {
    margin: 30px;
    background-color: #ffffff;
    border: 1px solid black;
    opacity: 0.6;
    text-align: center;
}

div.imgStyle {
    margin: 5%;
    font-weight: bold;
    color: #000000;
}


/* div.transbox {
    margin: 30px;
    background-color: #ffffff;
    border: 1px solid black;
    opacity: 0.6;
}

div.transbox p {
    margin: 5%;
    font-weight: bold;
    color: #000000;
} */