/* body{
    background-color:rgb(57, 59, 59);
}
.center{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.padding{
    margin:20px;
    padding:20px;
} */
/* label{
    margin:4px;
    padding:20px;
}
form{
    border: 5px solid salmon;
    font-size: 20px;
} */
/* 
html,body{

    margin: 0;
    padding:0;
    max-height:100vh;


} */

#btn-id{
    margin-left: 75px;
    width: 115px;
    height: 45px;
}

.container{
    margin-top: 100px;
    margin-bottom: 100px;
    width: 100%;
    /* height:100%; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: 0.25rem;
}

h1{
    color: salmon;
}

.error{
    background: #deffde;
    color: #ff1919;
    margin: 10px;
    width: 90%;
    justify-content: center;
    font-size: 18px;
    font-weight: 500;
    display: flex;
    align-items: center;
    padding: 7px;
}
/* 
a{
    font-size: 20px;
    font-weight:600;
    background-color:rgb(233, 66, 144);
}

dl{
    color: wheat;
    text-align: center;
    font-weight: 600;
    font-size: 30px;
}
dd{
    color: wheat;
    text-align: center;
    font-weight: 600;
    font-size: 30px;
}
p.logout{
    color: wheat;
    text-align: center;
    font-weight: 600;
    font-size: 30px;
} */

#state{
    width: 263px;
}

#card-private{
    margin: 20px;
    width: 100%;
    margin-top: 80px;
    margin-bottom: 80px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.text-bold{
  font-weight:700;
}

.btn-private{
    margin: 2px;
    margin-top: 15px;
}

#btn-id-private{
    margin-left: 67px;
}




