<main>
    <h1>Successfully deleted your review!</h1>
    <div>
        <p>{{message}}</p>
        <button type="submit" class="btn btn-primary">delete</button>
    </div>
    {{#if message}}
    <a class="logoutShiftLine" href="/">Login</a>
    {{/if}}
</main>