<main>
    <div class="center">
 
    <div class="center padding">
        <h1>Salon Review</h1>
        <form id="salon-review-form" class="center padding" action="/reviews/{{salonId}}" method="POST">
            <label>
                <p>Review Text:</p> 
                <input id="name" value={{this.reviewText}} name="name" placeholder="Space for entering Review"/>
                </label>
            <label>
            <p> Rating:</p> 
                <input id="rating" name="rating" placeholder="Rating: 1-10"/>
            </label>
 
            <button type="submit" id="btn-id">Submit</button>
            
            {{!-- <a href="/">Already have an salon? Click here to log-in</a> --}}
        </form>
    </div>
    <div id="error-div">
        <p class="error">{{message}}</p>
    </div>
    </div>
 
</main>
