<main>
    <p><a href="/salons">Go back to Salon list page</a></p>
    <div class="card-full">
        {{!-- <p><a href="/salons">Go back to Salon list page</a></p> --}}
        <p>Reviews of the Salon {{this.name}} are:</p>
        <p class="card-text">reviewText: {{this.reviewText}}</p>
        <p class="card-text">rating: {{this.rating}}</p>
        <p>Published your reviews for {{this.name}}</p>
        <br>
        <p>
            Please go back to the salon profile and give the covid reviews!!
        </p>
    </div>
</main>